<launch>
  <!-- Arguments -->
  <arg name="cmd_vel_topic" default="/cmd_vel" />
  <!-- <arg name="odom_topic" default="/t265/odom/sample_movebase" />   -->
  <arg name="odom_topic" default="/t265/odom/sample" />  
  <!-- 이거는 scout_map런치파일 실행시에 실행되는 노드에서 sample1을 만들어서 다시 퍼블리시함 -->
  <arg name="move_forward_only" default="true"/>

  <!-- move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

  <!-- use dwa planner-->
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <rosparam file="$(find scout_navigation)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find scout_navigation)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find scout_navigation)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find scout_navigation)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find scout_navigation)/param/move_base_params.yaml" command="load" />
    <rosparam file="$(find scout_navigation)/param/dwa_local_planner_params.yaml" command="load" /> 
    
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>
    <param name="DWAPlannerROS/min_vel_x" value="0.0" if="$(arg move_forward_only)" />


    
    <!-- use teb_local_planner : currently not working -->
    	<!-- <rosparam file="$(find scout_navigation)/param/carlike/costmap_common_params.yaml" command="load" ns="global_costmap" />
  	 	<rosparam file="$(find scout_navigation)/param/carlike/costmap_common_params.yaml" command="load" ns="local_costmap" />
  		<rosparam file="$(find scout_navigation)/param/carlike/local_costmap_params.yaml" command="load" />
  		<rosparam file="$(find scout_navigation)/param/carlike/global_costmap_params.yaml" command="load" />
  		<rosparam file="$(find scout_navigation)/param/carlike/teb_local_planner_params.yaml" command="load" />

      <param name="base_local_planner" value="gloal_planner?GlobalPlanner" />
      <param name="planner_frequency" value="1.0" />
      <param name="planner_patience" value="5.0" />

      <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
      <param name="controller_frequency" value="5.0" />
      <param name="controller_patience" value="15.0" /> -->

    </node>

  </launch>
